
<article>
            <form
            class="form"
            action="#"
            name="form_producto"
            id="form_producto"                    
            >
            
       

                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="producto">Producto:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="producto"
                            id="producto_producto"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
                

                
                
                

            <div class="f-line" style="display: none;">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="codigo">Codigo:</label> 
                    </div>

                    <div class="bl-6">
                        <input                                                 
                            type="text"
                            name="codigo"
                            id="producto_codigo"
                            />
                    </div>
                </div>    
            </div>                    




                
            <div class="f-line">
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="categoria">Categoria:</label> 
                    </div>
                    
                    <div class="bl-14">
                            <select name="categoria" 
                                    id="producto_categoria"                                                                           
                                     >   
                            </select>      
                    </div>
                </div>                                
            </div>                
                
                


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombre">Nombre:</label> 
                    </div>

                    <div class="bl-24">
                        <input                                                 
                            type="text"
                            name="nombre"
                            id="producto_nombre"
                            />
                    </div>
                </div>    
            </div>
                


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="porcentaje_iva">Porcentaje iva:</label> 
                    </div>

                    
                    <div class="bl-6">
                            <select name="porcentaje_iva" 
                                    id="producto_porcentaje_iva"                                                                           
                                     >   
                            </select>      
                    </div>
                        

                </div>    
            </div>
                                
                
                
                
                
            <div class="f-line" style="display: none;">
                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="codigo_barras">Codigo de barras:</label> 
                    </div>

                    <div class="bl-14">
                        <input                                                 
                            type="text"
                            name="codigo_barras"
                            id="producto_codigo_barras"
                            />
                    </div>
                </div>    
            </div>                                    
                
       
                

        </form>

</article>

<article id="producto-acciones">
    <pre></pre>
</article>
                


<article id="producto-tabuladores">
    <pre></pre>
</article>
                
