
<div class ="table-responsive-vertical">
    
    <table class="tableB w50" id="usuario-tabla">
      <thead>
        <tr>
            <th class="ca-10">codigo</th>
            <th class="ca-30">cuenta</th>
        </tr>
      </thead>

      <tbody id="usuario-tb">
      

      </tbody>

      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
</div>

    <hr class="e20"/>
    
    <div id="usuario_paginacion" class="pagination" >                            
    </div>

    <article id="usuario_acciones_lista">
        <pre></pre>
    </article>    
        
    
    

                 
                        