

<div class ="table-responsive-vertical">
    
        <table class="tableB w50" id="rol-tabla">
          <thead>
            <tr>
                <th class="ca-10">rol</th>
                <th class="ca-30">descripcion</th>
            </tr>
          </thead>

          <tbody id="rol-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="rol_paginacion" class="pagination" >                            
        </div>


        <article id="rol_acciones_lista">
            <pre></pre>
        </article>    

